//NavBar

.nav-bar{

    // .logo{
    //     width: 26%;
    // }

    .a-logo{
        width: 5rem;
        margin-inline: 4rem;
    }

    a{
        text-decoration: none;
        font-size: 2.3rem;
        color: var(--black);

        &:hover{
            color: var(--primary-color);
        }
    }

    a.router-link-active{
        color: var(--primary-color);
    }

    .open-menu{
        background-color: transparent;
        border: none;
        width: 3rem;
        height: 2rem;
        background-repeat: no-repeat;
        background-image: url('@/assets/burger-icon.svg');
    }

    // .open-menu-icon{
    //     width: 20%;
    // }
}

