//PageLoader
$colors: #8cc271, #69beeb, #f5aa39, #e9643b;

.page-loader{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    // top: 0; 
    top: var(--header-height);
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 999;
}

.cube{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    opacity: .2;
    margin-bottom: 10rem;

    @for $i from 1 through length($colors){
        &:nth-child(#{$i}){
            background-color: nth($colors, $i);
        }
    }

    &:first-child{
        animation: left 1s infinite;
    }

    &:last-child{
        animation: right 1s infinite .5s;
    }
}

@keyframes left {
    40%{
        transform: translateX(-60px);
    }
    50%{
        transform: translateX(0px);
    }
}

@keyframes right {
    40%{
        transform: translateX(60px);
    }
    50%{
        transform: translateX(0px);
    }
}