@import './components/navBar';
@import './components/museSingle';
@import './components/paintingsList';
@import './components/pageLoader';

@import './partials/general';
@import './partials/variables';






